.text-over {
    width: 100vw;
    pointer-events: none;
    color: black;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

main {
    width: 100vw;
    pointer-events: none;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.scroll-elements-text {
    padding-bottom: 750px;
}

.scroll-elements-text-start {
    padding-top: 700px;
}